.glass {
    background: rgba(183, 233, 246, 0.25);
    backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.61);
    width: 400px;
    height: 550px;
    border-radius: 0.5rem;
}

.ant-select-selector {
    border-radius: 1px!important;
}