.glass {
    background: rgba(183, 233, 246, 0.25);
    backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.61);
    width: 400px;
    height: 550px;
    border-radius: 0.5rem;
}

.dropdowregister.ant-select {
    border-radius: 0.3rem!important;
    .ant-select-selector {
        border-radius: 0.3rem!important;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-radius: none;
    }
}

.datepicker-register {
    border-radius: 0.3rem!important;
}