.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    // text-align: center;
    // font-size: 18px;
    // background: #fff;
    // /* Center slide text vertically */
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    // display: flex;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // -webkit-justify-content: center;
    // justify-content: center;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // -webkit-align-items: center;
    // align-items: center;
    // text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter {
    .swiper-button-prev {
        background-color: white;
        opacity: 1;
        color: black!important;
        padding: 0;
        width: 36px!important;
        height: 36px!important;
        border-radius: 50rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transition: all 0.3s ease-in-out;
        left: 0;
        &:hover {
            &::after {
                transition: all 0.3s ease-in-out;
                scale: inherit;
                width: 34px;
                height: 34px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
        }
    }
}

.filter {
    .swiper-button-next {
        background-color: white;
        color: black!important;
        opacity: 1;
        padding: 0;
        z-index: 10!important;
        width: 36px!important;
        height: 36px!important;
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;
        right: 0;
        &:hover {
            &::after {
                transition: all 0.3s ease-in-out;
                scale: inherit;
                width: 34px;
                height: 34px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
        }
    }
}

.filter {
    .swiper-pagination {
        display: none;
    }
}

// .filter {
.swiper-button-prev.swiper-button-disabled {
    display: none!important;
}

.filter {
    .swiper-wrapper {
        .swiper-slide img {
            width: 24px;
            height: 24px;
        }
    }
}

.filter {
    .swiper-wrapper {
        .swiper-slide {
            border-bottom: 4px solid white;
            opacity: 0.7;
            transition: all 0.3s ease;
            box-sizing: border-box;
            padding: 1rem 0;
            &:hover {
                opacity: 1;
                border-bottom: 2px solid rgba(128, 128, 128, 0.845);
            }
            &:active {
                opacity: 1;
                border-bottom: 2px solid rgba(128, 128, 128, 0.845);
            }
        }
    }
}

.swiper-pagination {
    // display: none
}

.swiper-pagination-bullet-active {
    background-color: white!important;
}

.filter {
    .swiper-button-next::before {
        content: "";
        position: absolute;
        height: 4rem;
        right: -10px;
        width: 50px;
        z-index: -1;
        background: black;
        background: linear-gradient(270deg, rgba(255, 255, 255, 1) 70%, rgba(0, 212, 255, 0) 100%);
    }
    .swiper-button-prev::before {
        content: "";
        position: absolute;
        height: 4rem;
        left: -10px;
        width: 50px;
        z-index: -1;
        background: black;
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(0, 212, 255, 0) 100%);
    }
    .swiper-button-prev:after {
        font-size: 0.7rem!important;
        font-weight: bold;
        width: 24px;
        height: 24px;
        border-radius: 2rem;
        border: 1px solid rgba(0, 0, 0, 0.447);
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
    }
    .swiper-button-next:after {
        font-size: 0.7rem!important;
        width: 24px;
        height: 24px;
        border-radius: 2rem;
        border: 1px solid rgba(0, 0, 0, 0.447);
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
    }
}

@media only screen and (max-width: 1023px) {
    .filter {
        .swiper-button-next {
            display: none!important;
        }
        .swiper-button-prev {
            display: none!important;
        }
    }
}

.filter-popup {
    .ant-modal-header {
        border-radius: 1rem 1rem 0rem 0rem;
        background-color: white;
        .ant-modal-title {
            color: black;
            text-align: center;
        }
    }
    .ant-modal-content {
        border-radius: 1rem;
    }
    .ant-modal-footer {
        display: flex;
        justify-content: flex-end;
        .ant-btn.ant-btn-default {
            color: black
        }
        .ant-btn.ant-btn-primary {
            background-color: #FF385C;
        }
    }
    .ant-btn {
        width: unset;
        // padding: unset;
        padding: 0 1rem;
    }
}

.tag-item {
    transition: all 0.3 ease;
}

input[type="radio"] {
    display: none;
}

.tag-content {
    opacity: 0.4;
    background-color: white;
    color: black;
    padding: 6px 20px !important;
    border-radius: 5rem;
    display: block;
    transition: all 0.3s ease;
}

.tag-content:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, .1);
}

input[type="radio"]:checked~span {
    opacity: 1;
    background-color: black;
    color: white
}