.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    // text-align: center;
    // font-size: 18px;
    // background: #fff;
    // /* Center slide text vertically */
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    // display: flex;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // -webkit-justify-content: center;
    // justify-content: center;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // -webkit-align-items: center;
    // align-items: center;
    // text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter {
    .swiper-button-prev {
        background-color: white;
        opacity: 1;
        color: black!important;
        padding: 0;
        width: 36px!important;
        height: 36px!important;
        border-radius: 50rem;
        border: 1px solid gray;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transition: all 0.3s ease-in-out;
        left: 0;
        &:hover {
            &::after {
                transition: all 0.3s ease-in-out;
                scale: inherit;
                width: 34px;
                height: 34px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
        }
    }
}

.filter {
    .swiper-button-next {
        background-color: white;
        color: black!important;
        opacity: 1;
        padding: 0;
        z-index: 10!important;
        width: 36px!important;
        height: 36px!important;
        border-radius: 2rem;
        border: 1px solid gray!important;
        transition: all 0.3s ease-in-out;
        right: 0;
        &:hover {
            &::after {
                transition: all 0.3s ease-in-out;
                scale: inherit;
                width: 34px;
                height: 34px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
        }
    }
}

.filter {
    .swiper-pagination {
        display: none;
    }
}

// .filter {
.swiper-button-prev.swiper-button-disabled {
    display: none!important;
}

.filter {
    .swiper-wrapper {
        .swiper-slide img {
            width: 24px;
            height: 24px;
        }
    }
}

.filter {
    .swiper-wrapper {
        .swiper-slide {
            border-bottom: 4px solid white;
            opacity: 0.6;
            transition: all 0.3s ease;
            box-sizing: border-box;
            padding: 1rem 0;
            &:hover {
                opacity: 1;
                border-bottom: 4px solid rgba(128, 128, 128, 0.845);
            }
        }
    }
}

.swiper-pagination {
    // display: none
}

.swiper-pagination-bullet-active {
    background-color: white!important;
}

.swiper-button-next:after {
    font-size: 14px!important;
    width: 32px;
    height: 32px;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.447);
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.filter {
    .swiper-button-next::before {
        content: "";
        position: absolute;
        height: 4rem;
        right: -10px;
        width: 100px;
        z-index: -1;
        background: black;
        background: linear-gradient(270deg, rgba(255, 255, 255, 1) 70%, rgba(0, 212, 255, 0) 100%);
    }
}

.filter {
    .swiper-button-prev::before {
        content: "";
        position: absolute;
        height: 4rem;
        left: -10px;
        width: 100px;
        z-index: -1;
        background: black;
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(0, 212, 255, 0) 100%);
    }
}

.swiper-button-prev:after {
    font-size: 14px!important;
    width: 32px;
    height: 32px;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.447);
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}