.btn-css{
    display: flex;
    .btn-add{
        background-color: #1890ff ;
    }
    .btn-delete{
        background-color: #ff4d4f;
    }
    .btn-update{
        background-color: #faad14;
    }
}