.dropdown {
    position: absolute;
    padding: 5px 0;
    width: 210px;
    right: 100%;
    top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    z-index: 99;
}

.dropdownItem {
    padding: 10px;
}

// .ant-select-selector{
//     border-radius: 5px;
// }
.dropdownLanguage {
    position: absolute;
    padding: 5px 0;
    width: 210px;
    right: 80%;
    top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    z-index: 99;
}