.header {
    background-image: url("https://res.cloudinary.com/dvzingci9/image/upload/v1665325149/airBnB/imgheader/unsplash_dBOZ7XL4b_E_lhjffh.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-here-me {
    box-shadow: rgb(0 0 0 / 0%) 0px 54px 55px, rgb(0 0 0 / 0%) 0px -12px 30px, rgb(0 0 0 / 0%) 0px 4px 6px, rgb(0 0 0 / 44%) 0px 12px 13px, rgb(0 0 0 / 0%) 0px -3px 12px;
}

.filter-sticky {
    position: -webkit-sticky;
    position: sticky!important;
    top: 72px;
    z-index: 30;
    background-color: white;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}