.header {
    background-image: url("https://res.cloudinary.com/dvzingci9/image/upload/v1664719909/My-portfolio/bgAirBnB_acuaiy.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-here-me {
    box-shadow: rgb(0 0 0 / 0%) 0px 54px 55px, rgb(0 0 0 / 0%) 0px -12px 30px, rgb(0 0 0 / 0%) 0px 4px 6px, rgb(0 0 0 / 44%) 0px 12px 13px, rgb(0 0 0 / 0%) 0px -3px 12px;
}