#simple-tabpanel-0 {
    -ms-overflow-style: none;
}

#simple-tabpanel-0::-webkit-scrollbar {
    display: none;
}

#simple-tabpanel-1 {
    -ms-overflow-style: none;
}

#simple-tabpanel-1::-webkit-scrollbar {
    display: none;
}

.MuiTabs-flexContainer {
    justify-content: space-around;
}